$grey: #C4CBCE;
$white:white;
$color_button:#3FA9E2;
$margin_left:20px;
$color_title:#394F63;

@mixin width_form {
	width: 100%;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* === */

.personal_{
	color:$grey;
	text-transform:uppercase;
	@include width_form;
}


#gform_1{
	@include width_form;
	border:1px solid $grey;
	padding:20px;
	
	#input_1_1,#input_1_4,#input_1_5,tbody,textarea{
		width:100%;
	}
	
	#gform_drag_drop_area_1_6{
		 width: 82%;
	}
	
	input,textarea{
		@include border-radius(3px);
	}
	
	#gform_submit_button_1{
		color:$white;
		background:$color_button;
		padding: 6px 20px;
		@include border-radius(4px);
	}
	
	label{
		text-transform:uppercase;
		margin-bottom: 0px !important;
		margin-top: 20px !important;
	}
	
	.gform_title{
	color:$color_title;
	}
	
	
}

@media (max-width: 700px) {
	.container {
		width: 100% !important
	}

	#gform_1,.personal_{
		width:80%;
		margin:0 auto;
	}
	
}

.prev_head{
	@include width_form;
	height:80px;
	background-color:#394F63;
	
	color: white;
    padding-top: 17px;
	    padding-left: 20px;
		

}

#preview{
	width:100%;
	border:1px solid $color_title;
	overflow:hidden;
	margin:0 auto;
	background-color:#fff;
	padding-bottom:10px;
}

#preview div{
	padding-left:10px;
	padding-right:10px;
}

.prev_body{
	@include width_form;
	height:auto;
	
}

#preview h3{
	color:$color_title;
}

.post_url_list{
	clear:both;
}

.post_gallery img{
width:170px;
float:left;
}

.post_tag ul{
padding:0;
}

.post_url_list{
	padding-top:20px;
}

.prev_bg{
background-color:#E7E9EC;
padding:50px;
height:100%;
}

.prev_title{
	color:#AFBCBD;
	float:right;
}

.post_field{
	border-bottom:1px solid $color_title;
	padding-bottom:5px;
}

.post_gallery{
overflow:hidden;
}

.post_field h3{
	color:#435C71;
}